#display {
  box-sizing: border-box;
  background: black;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  max-height: 35px;
  line-height: 35px;
  font-size: 25px;
}
.orange {
  color: orange;
}
.operacion {
  box-sizing: border-box;
  background: black;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  max-height: 35px;
  line-height: 35px;
  font-size: 25px;
  color: orange;
}
